body{
    background-color: skyblue;
}

h1{
    color:greenyellow;
}
div{
    color: violet;
}
body{
    border:solid;
}
.item{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
